<div class="{ styles.root }">
  <div class="{ styles.inputWrapper }">
    <input type="text" class="{ styles.input }" data-input>
    <div class="{ styles.placeholder }">Create new playlist or search</div>
    <div class="{ styles.clearBtn }" data-clear-btn></div>
    <div class="{ styles.focusBorder }"></div>
  </div>
  <div class="{ styles.submitBtn }" data-submit-btn>save</div>
</div>
