:global {
  @at-root {
    // ======================
    // selectors
    // ======================
    $prefix: iziToast;

    $container-for-all-notifications: #{$prefix}-wrapper;
    $container-for-all-notifications-aligned-to-bottom-center: #{$container-for-all-notifications}-bottomCenter;

    $notification-root-node: #{$prefix}-capsule;

    $notification-inner-node: #{$prefix};
    $notification-inner-node-for-success: #{$prefix}--success;
    $notification-inner-node-for-error: #{$prefix}--error;

    $notification-content-container: #{$prefix}-body;

    $icon: #{$prefix}-icon;
    $error-icon-class-name: ico-error;
    $success-icon-class-name: ico-success;

    $texts: #{$prefix}-texts;

    $message: #{$prefix}-message;

    $buttons: #{$prefix}-buttons;
    $button-container: #{$prefix}-buttons-child;

    $close-btn: #{$prefix}-close;

    $btn: #{$prefix}__btn;
    $submit-btn: #{$btn}--submit;
    $cancel-btn: #{$btn}--cancel;

    // ======================
    // values
    // ======================
    $zIndex: 1000000000000000;
    $desktopMinWidth: 568px;
    $animation-duration: 0.3s;

    $space-around-icon-at-one-size: 16px;

    $icon-size: 24px;

    $padding-at-left-size: $space-around-icon-at-one-size * 2 + $icon-size;

    $close-btn-width: 42px;
    $close-btn-icon-size: 8px;

    // ======================
    //  animations
    // ======================
    @keyframes iziT-fadeInUp {
      from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
      }
      to {
        opacity: 1;
        transform: none;
      }
    }

    @keyframes iziT-fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }

    .#{$notification-inner-node} {
      &.fadeInUp {
        animation: iziT-fadeInUp $animation-duration ease both;
      }

      &.fadeOut {
        animation: iziT-fadeOut $animation-duration ease both;
      }
    }

    // ======================
    //
    // ======================
    .#{$container-for-all-notifications} {
      position: fixed;

      z-index: $zIndex;

      display: flex;
      flex-direction: column;
      max-width: 100%;

      @media (min-width: $desktopMinWidth) {
        box-sizing: border-box;
        padding: 10px 15px;
      }

      &.#{$container-for-all-notifications-aligned-to-bottom-center} {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }

    .#{$notification-root-node} {
      display: block;
      width: 100%;
      height: 0;

      transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
      box-sizing: border-box;
    }

    // 1) a container for .iziToast-body
    // 2) background for a notification
    .#{$notification-inner-node} {
      position: relative;

      display: block;
      width: 100%;

      margin: 5px 0;

      box-sizing: border-box;
      border-radius: 6px;
      border: 1px solid #cccccc;
      background-color: #ffffff;
    }

    // a container for inner elements (texts, icons, buttons etc)
    .#{$notification-content-container} {
      position: relative;

      z-index: 0;

      display: block;
      width: 100%;

      box-sizing: border-box;
      padding-left: $padding-at-left-size;
      padding-right: 18px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .#{$icon} {
      position: absolute;
      left: ($padding-at-left-size - $icon-size) / 2;
      top: 50%;
      transform: translateY(-50%);

      display: block;
      width: $icon-size;
      height: $icon-size;

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .#{$error-icon-class-name} {
      background-image: url('./assets/alert.svg');
    }

    .#{$success-icon-class-name} {
      background-image: url('./assets/success-icon.svg');
    }

    .#{$message} {
      margin: 0;
      font-size: 14px;
    }

    .#{$buttons} {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }

    .#{$button-container} + .#{$button-container} {
      margin-left: 10px;
    }

    .#{$close-btn} {
      position: absolute;
      top: 0;
      right: 0;

      z-index: 1;

      display: block;
      width: $close-btn-width;
      height: 100%;

      border: 0;
      padding: 0;

      background-color: transparent;
      background-image: url('./assets/close-btn-icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: $close-btn-icon-size;

      cursor: pointer;
      user-select: none;

      &:hover {
        opacity: 0.5;
      }
    }

    .#{$close-btn} + .#{$notification-content-container} {
      padding-right: $close-btn-width;
    }

    .#{$btn} {
      display: inline-block;

      box-sizing: border-box;
      padding: 4px 6px;

      cursor: pointer;
      user-select: none;

      border-radius: 4px;

      font-size: 14px;
      color: #ffffff;

      border: 1px solid #ffffff;

      background-color: rgba(255, 255, 255, 0.1);
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    // ======================
    // error message
    // ======================
    .#{$notification-inner-node} {
      &.#{$notification-inner-node-for-error} {
        $bg-color: #ff7777;
        background-color: $bg-color;
        border-color: darken($bg-color, 10%);

        .#{$texts} {
          color: #ffffff;
        }
      }

      &.#{$notification-inner-node-for-success} {
        $bg-color: #1c8efc;
        background-color: $bg-color;
        border-color: darken($bg-color, 10%);

        .#{$texts} {
          color: #ffffff;
        }
      }
    }
  }
}
