:local {
  $color-gray: #979797;

  $window-width: 480px;
  $window-default-height: 600px;
  $window-bg-color: #ffffff;
  $window-border-radius: 8px;
  $window-border-color: $color-gray;

  $min-allowed-vertical-padding-for-window: 10px;
  $trigger-screen-height: $window-default-height + $min-allowed-vertical-padding-for-window * 2;

  $padding-between-border-and-content: 40px;

  $window-title-text-color: #333333;
  $window-title-font-size: 22px;

  $window-subtitle-text-color: #1761b7;
  $window-subtitle-font-size: 16px;

  $close-btn-size: 18px;
  $close-btn-top: ($window-title-font-size - $close-btn-size) / 2;

  $padding-between-header-and-body: 20px;

  $header-horizontal-padding: $padding-between-border-and-content + $close-btn-size;

  .root {
    position: fixed;
    left: 0;
    top: 0;

    display: block;
    width: 100%;
    height: 100vh;

    z-index: 1000000000000;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.1);
  }

  .window {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    width: $window-width;
    height: $window-default-height;

    flex-direction: column;

    background-color: $window-bg-color;

    box-sizing: border-box;
    border-radius: $window-border-radius;
    border: 1px solid $window-border-color;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    padding: $padding-between-border-and-content 0;

    @media (max-height: $trigger-screen-height) {
      top: $min-allowed-vertical-padding-for-window;
      bottom: $min-allowed-vertical-padding-for-window;
      height: auto;

      transform: translateX(-50%);
    }
  }

  .header {
    position: relative;

    display: block;
    width: 100%;
    min-height: $close-btn-size;

    box-sizing: border-box;
    padding: 0 $header-horizontal-padding;

    user-select: none;
  }

  .closeBtn {
    position: absolute;
    top: $close-btn-top;
    right: $padding-between-border-and-content;

    z-index: 100;

    display: block;
    width: $close-btn-size;
    height: $close-btn-size;

    background-image: url('./assets/close-btn-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  .title {
    display: block;
    width: 100%;

    text-align: center;

    color: $window-title-text-color;
    font-size: $window-title-font-size;
    line-height: $window-title-font-size; // XXX: this is important for the vertical alignment of the close button
  }

  .subTitle {
    display: block;
    width: 100%;

    text-align: center;

    color: $window-subtitle-text-color;
    font-size: $window-subtitle-font-size;
    line-height: $window-subtitle-font-size;

    margin-top: 6px;
  }

  .body {
    display: block;
    width: 100%;
    height: 100%;

    flex: 1;

    box-sizing: border-box;
    padding-top: $padding-between-header-and-body;
  }

  .withoutSubtitle {
    .subTitle {
      display: none;
    }
  }
}
