<div class="{ styles.root }">
  <div class="{ styles.overlay }" data-overlay></div>
  <div class="{ styles.window }">
    <div class="{ styles.header }">
      <div class="{ styles.closeBtn }" data-close-btn></div>
      <div class="{ styles.title }" data-title></div>
      <div class="{ styles.subTitle }" data-subtitle></div>
    </div>
    <div class="{ styles.body }" data-body></div>
  </div>
</div>
