@mixin msg {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  user-select: none;
}

@mixin msgIcon {
  display: block;
  width: 60px;
  height: 60px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@mixin msgTitle {
  display: block;

  font-size: 24px;
  font-weight: bold;
  color: #31373f;

  margin-top: 10px;
}

@mixin msgSubtitle {
  display: block;
  max-width: 300px;

  font-size: 14px;
  color: #aaaaaa;
  text-align: center;
}
