@import '../widgets/msg/styles';
@import '../widgets/button/styles';

:local {
  .root {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  .state {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  .spinnerContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: block;
  }

  .isStateLoading {
    .state {
      &[data-state-loading] {
        display: block;
      }

      &[data-state-error] {
        display: none;
      }
    }
  }

  .isStateError {
    .state {
      &[data-state-loading] {
        display: none;
      }

      &[data-state-error] {
        display: block;
      }
    }
  }

  .errorMsg {
    @include msg;
  }

  .errorIcon {
    @include msgIcon;
    background-image: url('./assets/alert.svg');
  }

  .errorTitle {
    @include msgTitle;
  }

  .tryAgainBtn {
    @include button;
    margin-top: 6px;
  }
}
