<div class="{ styles.root }">
  <div class="{ styles.state }" data-state-loading>
    <div class="{ styles.spinnerContainer }">{{ SPINNER }}</div>
  </div>
  <div class="{ styles.state }" data-state-error>
    <div class="{ styles.errorMsg }">
      <div class="{ styles.errorIcon }"></div>
      <div class="{ styles.errorTitle }">Can't load data</div>
      <div class="{ styles.tryAgainBtn }" data-try-again-btn>try again</div>
    </div>
  </div>
</div>
