@import '../widgets/msg/styles';

:local {
  .root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  @mixin container {
    display: block;
    width: 100%;

    box-sizing: border-box;
  }

  .searchInputContainer {
    @include container;
    padding: 0 40px;
  }

  .playlistContainer {
    @include container;
    height: 100%;
  }
}
