@at-root {
  html,
  body {
    font-family: Arial, sans-serif;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-width: 100px;
  }

  .icon-favorite {
    display: none;

    &::before {
      content: 'yes';
    }
  }

  .icon-usual {
    display: inline;

    &::before {
      content: 'no';
    }
  }

  .icon-favorite,
  .icon-usual {
    margin-left: 10px;

    &::before {
      display: block;
    }
  }

  [data-favorite] {
    .icon-favorite {
      display: inline;
    }

    .icon-usual {
      display: none;
    }
  }
}
