:local {
  $size: 22px;

  $animation-name: lu-spinner-animation;

  @keyframes :local(#{$animation-name}) {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .root {
    position: relative;

    display: block;
    width: $size;
    height: $size;

    &::before {
      content: '';

      position: absolute;
      left: 0;
      top: 0;

      display: block;
      width: 100%;
      height: 100%;

      background-image: url('./assets/icon.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      animation: #{$animation-name} 2s linear infinite;
    }
  }
}
