@mixin button {
  $bg-color: #1761b7;

  display: inline-block;

  background-color: $bg-color;

  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;

  padding: 6px;

  border-radius: 4px;

  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: lighten($bg-color, 20%);
  }
}
