<div class="{ styles.listItem }" data-item data-title="{ TITLE }" data-id="{ ID }" data-contains-track="{ CONTAINS_TRACK }">
  <div class="{ styles.listItemTitle }">{ TITLE }</div>
  <div class="{ styles.deleteBtn }"></div>
</div>
