@import '../msg/styles';

:local {
  .root {
    position: relative;

    display: block;
    width: 100%;
    height: 100%;
  }

  .state {
    position: relative;

    display: none;
    &[data-is-active-state] {
      display: block;
    }

    width: 100%;
    height: 100%;

    &[data-state-with-items] {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .msg {
    @include msg;
  }

  .addIcon {
    @include msgIcon;
    background-image: url('./assets/plus-circle.svg');
  }

  .msgTitle {
    @include msgTitle;
  }

  .msgSubtitle {
    @include msgSubtitle;
  }

  .list {
    display: block;
    width: 100%;
    height: 100%;

    overflow-y: auto;
  }

  .listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 40px;

    cursor: pointer;
    user-select: none;

    box-sizing: border-box;
    padding: 0 40px;

    &:hover {
      background-color: #eeeeee;
    }

    &[data-is-hidden] {
      display: none;
    }
  }

  .listItemTitle {
    display: block;
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .deleteBtn {
    position: relative;

    display: block;

    width: 14px;
    height: 100%;

    padding-right: 16px;

    &::before {
      content: '';

      position: relative;

      display: block;
      width: 100%;
      height: 100%;

      background-image: url('./assets/trash-icon.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .listItem[data-contains-track="false"] .deleteBtn::before {
    display: none;
  }
}
