<div class="{ styles.root }">
  <div class="{ styles.state }" data-state-with-empty-items>
    <div class="{ styles.msg }">
      <div class="{ styles.addIcon }"></div>
      <div class="{ styles.msgTitle }">No Playlists yet!</div>
      <div class="{ styles.msgSubtitle }">Playlists that you create will show up here</div>
    </div>
  </div>
  <div class="{ styles.state }" data-state-create-new-item>
    <div class="{ styles.msg }">
      <div class="{ styles.addIcon }"></div>
      <div class="{ styles.msgTitle }">Create new playlist</div>
      <div class="{ styles.msgSubtitle }">Playlists that you create will show up here</div>
    </div>
  </div>
  <div class="{ styles.state }" data-state-no-search-matches>
    <div class="{ styles.msg }">
      <div class="{ styles.addIcon }"></div>
      <div class="{ styles.msgTitle }">No matches found</div>
      <div class="{ styles.msgSubtitle }">Save to create a new Playlist</div>
    </div>
  </div>
  <div class="{ styles.state }" data-state-with-items>
    <div class="{ styles.list }" data-list></div>
  </div>
</div>
